/* ============================= css thanh cuon ======================================== */
/* ::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
} */
/* ====================================================================================== */
* {

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.topnav {
  display: flex;
  position: fixed;
  top: 0;
  left: 10px;
  width: calc(100% - 20px);
  justify-content: center;
  align-items: center;
  background-color: rgba(29, 29, 31, 0.8);
  z-index: 1000;
}
.anhlogo{
  width: 30px;
  height: 30px;
}
.topnav a {
  color: cyan;
  text-decoration: none;
  padding: 5px 30px;
}
/* hiệu ứng khi rê chuột vào menu nav */
.topnav a:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.2); 
}

/* .topnav a.active {
  background-color: #04AA6D;
  color: white;
} */

/* ẩn icon khi ở destop mode */
.topnav .icon {
  display: none;
  position: absolute;
  right: 0;
  top: 5px;
}
